/*	 #thead>tr>th{ color: #2E4053; }
  body{
    font-family: 'Sriracha', cursive;
  } 
  tr{
    background-color: #A7EEA9;
    color: #2E4053;
  }*/

  .cov{
    /*font-weight: bold;*/
    color: #55E1AE;

  }
  .tr1{
    background-color: #85929E;

    /*color: #fff;*/
  }
  .h{
    color: #fff;
  }
  .tr2{
    background-color: #D1F2EB;
  }
.ttrr:hover{
  cursor: pointer;
  background-color: #0BD39F;
  /*color: #fff;*/
}
.rr:hover{
  cursor: pointer;
  background-color: #0B9CD3;
  /*color: #fff;*/
}
  .tr3{
    background-color: #fff;
    /*color: #fff;*/
  }
  .tr3{
    background-color: #D1F2EB;
  }
  .td3{
    color: #566573;
  }
  .ccen{
    text-align: left;
    font-weight: bold;
    color: #0B5345;
    font-size: 1.2em;
    margin-left: 250px;
  }
  .sho{
    color: #FFF;
    font-weight: bold;
    font-size: 1.4em;
    cursor: pointer;
    background-color: #0614E5;
    text-align: center;
    border-radius: 10%;
    background-position: left top;
    background-repeat: repeat; 
  }
  .ff{
    font-size: 0.4em;
    color: #fff;
  }
.oh{
  background-color: #0B5345;
}
.tt{
  color: #fff;
}
/*.fiter{
  color: #FFF;
  font-weight: bold;
  font-size: 1.4em;
  cursor: pointer;
  background-color: #2ECC71;
  text-align: center;
  background-position: left top;
  background-repeat: repeat; 
  }*/
/*.fiter:hover{
  color: #FFF;
  font-weight: bold;
  font-size: 1.4em;
  cursor: pointer;
  background-color: #D35400;
  text-align: center;
  background-position: left top;
  background-repeat: repeat; 
  }*/
  .sss{  
    color: #FFF;
    font-weight: bold;
    font-size: 1.4em;
    cursor: pointer;
    background-color: #EC7063;
    text-align: center;
    border-radius: 10%;
    background-position: left top;
    background-repeat: repeat; 
  }
  a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  a:hover, a:active {
    background-color: red;
  }

  .aa:link, .aa:visited {
    background-color: #28B463;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
        border-radius: 20px;
  }

  .aa:hover, .aa:active {
    background-color: #004D40;
    color: #fff;
  }

  .bb:link, .bb:visited {
    background-color: #D35400;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
        border-radius: 20px;

  }

  .bb:hover, .bb:active {
    background-color: #6E2C00;
    color: #fff;
  }
  .cc:link, .cc:visited {
    background-color: #D11E1E;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
        border-radius: 20px;
  }

  .cc:hover, .cc:active {
    background-color: #7E0A0A;
    color: #fff;
  }

  .dd:link, .dd:visited {
    background-color:#044ABD;
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
  }

  .dd:hover, .dd:active {
    background-color: #000;
    font-weight: bold;
    color: #fff;

  }

.xx{
  color: #28B463;
}
.yy{
color: #0F2F9C;
}
.zz{
color: #D11E1E;
}


  .thh{
    cursor: pointer;
  }
  .thead-dark{
    background-color: #004E40;
    color: #fff;
  }
    .thead-dark:hover{
    background-color: #004D49;
    color: #D35400;
  }
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  .total{
    color: #DE2F08;
    font-weight: bold;
    font-size: 1.2em;
  }
  .top-container {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
  }

  .headadmin {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
  }
  .cen{
    text-align: center;
  }
    .cln{
    text-align: left;
    color: #0B5345;
    font-size: 1.4em;
    font-weight: bold;
  }
  .content {
    padding: 16px;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .sticky + .content {
    padding-top: 102px;
  }
  .logi{
    font-weight: bold;
    color: #EDBB99;
    right: -20px;
    float: right;
  }
  .st_img{
    border-radius: 50%;
    background-position: left top;
    background-repeat: repeat;
    width: 25px;
    height:25px;    
  }

  .summ{
    color: #0F39BD;
    text-align: center;
    font-weight: bold; 

  }
  .cont{
    width: 98%;
    margin: auto;
    padding: auto;

  }
.fu{
  text-align: center;
  font-weight: bold;
  color: #566573;
  cursor: pointer;
}